- content_for :main do
  .header
    %h1 Public Transportation

- content_for :sidebar do
  .aside.supplementary
    %strong Issues
    %ul
      %li
        %a{:href => "#", :title => "Immigration"} Immigration
      %li
        %a{:href => "#", :title => "Opportunity Corridor"} Opportunity Corridor
      %li
        %a{:href => "#", :title => "Public Transportation"} Public Transportation
      %li
        %a{:href => "#", :title => "Shrinkage"} Shrinkage
      %li
        %a.text.button{:href => "#"} More Issues&hellip;
    %strong People
    %ul
      %li
        %a{:href => "#", :title => "Connie Schultz"} Connie Schultz
      %li
        %a{:href => "#", :title => "Drew Carey"} Drew Carey
      %li
        %a{:href => "#", :title => "Jane Campbell"} Jane Campbell
      %li
        %a{:href => "#", :title => "Lebron James"} Lebron James
      %li
        %a.text.button{:href => "#"} More People&hellip;
    %strong Events
    %ul
      %li
        %a{:href => "#", :title => "2nd Annual Run to the Ohio Wall"} 2nd Annual Run to the Ohio Wall
      %li
        %a{:href => "#", :title => "A Conference for Civic Libertarians"} A Conference for Civic Libertarians
      %li
        %a{:href => "#", :title => "Celebrity Golf Outing"} Celebrity Golf Outing
      %li
        %a{:href => "#", :title => "Community Appreciation Day"} Community Appreciation Day
      %li
        %a.text.button{:href => "#"} More Events&hellip;
