.main.section.conversation
  .conversation-head
    %h1 Mayoral Round-up
    %p
      George and Dan meetup with a panel of Cleveland mayors to discuss potential ways of stimulating the economy throughout the city.
    %select(name="comment[type]" id="comment_type")
      %option Official
      %option Other
    %textarea(name="comment[text]" id="comment_text")
      Leave a comment...
    %a.button.tertiary(href="#" title="Save to the Stream") Save

