.main.section.conversation
  .conversation-head
    %h1 Mayoral Round-up
    %p
      George and Dan meetup with a panel of Cleveland mayors to discuss potential ways of stimulating the economy throughout the city.
