- content_for :main do
  .base-styles
    %h1 Heading 1
    %h2 Heading 2
    %h3 Heading 3
    %h4 Heading 4
    %h5 Heading 5

    %p Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit. Ut dapibus, augue nec vestibulum imperdiet, dolor leo tincidunt enim, non vestibulum sapien justo in ante. Integer convallis velit quis ante vestibulum a tempor lacus facilisis. Cras sollicitudin elementum turpis eget facilisis. Cras nec lectus est, ac posuere ante. Aliquam quam risus, tincidunt eget pellentesque vel, vestibulum sed massa. Phasellus iaculis lorem quis turpis vulputate sollicitudin. Aliquam in arcu vel augue dictum cursus quis quis sem. Quisque a odio euismod mauris suscipit imperdiet. Sed id gravida libero. Phasellus a orci justo. Maecenas ultrices pretium nulla, vel porta elit malesuada sit amet. Morbi vel dolor lorem. Etiam erat arcu, varius et vulputate eu, placerat vel nibh. Etiam orci ipsum, pharetra in pharetra in, lacinia sed dui. Curabitur faucibus tristique justo, varius consequat ipsum pellentesque fermentum. Donec neque libero, condimentum feugiat placerat nec, adipiscing in mauris.
    %p Curabitur dictum <em>interdum</em> mauris sit amet feugiat. <a href="#">Curabitur fermentum leo</a> vel arcu placerat pulvinar. Maecenas tincidunt molestie magna, vel sodales mi lobortis non. Etiam enim lorem, pharetra non ultrices ut, ullamcorper ut purus. Ut aliquam dignissim metus, in dapibus lorem tempor sed. Sed mauris urna, mattis non condimentum lobortis, malesuada in mi. Nam tincidunt sapien id eros gravida aliquet. Suspendisse ac quam quis lectus tristique placerat vitae vitae mauris. Vestibulum vel orci vel ante sollicitudin faucibus. Ut adipiscing ante vulputate velit tincidunt eu dignissim velit ultrices. Pellentesque at arcu bibendum est venenatis ornare. Vivamus non nulla enim, in pharetra sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus, felis eget imperdiet tempor, nisl purus egestas ligula, ac placerat dui orci tempor augue.
        
    %ul
      %li An item in a list
      %li An item in a list
      %li An item in a list
      %li Etiam orci ipsum, pharetra in pharetra in, lacinia sed dui. Curabitur faucibus tristique justo, varius consequat ipsum pellentesque fermentum. Donec neque libero, condimentum feugiat placerat nec, adipiscing in mauris.  Curabitur dictum interdum mauris sit amet feugiat.
      %li An item in a list

    %ol
      %li An item in a list
      %li An item in a list
      %li An item in a list
      %li Etiam orci ipsum, pharetra in pharetra in, lacinia sed dui. Curabitur faucibus tristique justo, varius consequat ipsum pellentesque fermentum. Donec neque libero, condimentum feugiat placerat nec, adipiscing in mauris.  Curabitur dictum interdum mauris sit amet feugiat.
      %li An item in a list

    %ul.link-list
      %li 
        %a(href="#") An item in a list
      %li 
        %a(href="#") An item in a list
      %li 
        %a(href="#") An item in a list
      %li 
        %a(href="#") An item in a list
      %li 
        %a(href="#") An item in a list
      %li 
        %a(href="#") An item in a list
  .offset-image
    %ol.conversations
      %li.offset-1
        %img.callout(src="/images/conversation-1-icon.png" alt="A Conversation Title")
        %h2 A headline
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in tortor ut |
          diam ultrices laoreet. In laoreet nunc et purus volutpat sit amet suscipit  |
          est sagittis. Vestibulum in lorem dui. Aenean et magna nulla. Class aptent  |
          taciti sociosqu ad litora torquent per conubia nostra.
