<div class="main section">
  <div class="feature">
    blah diddy
  </div>
  <div class="aside">
    <p>aside</p>
    <p>aside</p>
    <p>aside</p>
    <p>aside</p>
  </div>
</div>

<div class="main section">

  <div class="section conversations"><div class="wrapper">
    conversations conversations
    conversations conversations
    conversations conversations
    conversations conversations
    conversations conversations
    conversations conversations
    conversations conversations
  </div></div>

  <div class="section activity">
    activity
  </div>

  <div class="aside">
    aside2
  </div>

</div>
