<div class="main section">
  <div class="feature">
    <div class="join-conversation">
      <img src="/images/featured-image.png" alt="Drew Carey confronts Cleveland City Council">
      <a href="#" class="button primary">Join Conversation</a>
    </div>
    <h1>Drew Carey confronts Cleveland City Council</h1>
    <p>Cleveland's woes - population loss, failing schools, lack of economic spark - are no joke to comedian and native son Drew Carey, who advocates for less government, more competition and lower taxes to bring the city back.</p>
    <ul>
      <li><strong>Covered By:</strong><a href="#">Dan Moulthrop</a></li>
      <li><strong>Event:</strong><em>May 24, 2010</em></li>
      <li><strong>Conversations:</strong><a href="#">42 Responses</a></li>
    </ul>
    <div class="conversation-ticker">
      <strong>May 19:</strong>
      <a href="#" title="Taxes in Cuyahoga County"><strong>Taxes in Cuyahoga County</strong></a>
    </div>
  </div>
  <div class="aside">
    <p>aside</p>
    <p>aside</p>
    <p>aside</p>
    <p>aside</p>
  </div>
</div>

<div id="engaging-content" class="main section">

  <div class="section conversations"><div class="wrapper">
    <h2>Active Conversations</h2>
    <div class="article">
      <img src="/images/active-conversation-1.png">
      <div class="content">
        <p>
          <a href="#" title="Haunted Cleveland"><strong>Haunted Cleveland</strong></a>
          &ndash; Cleveland haunted house and costume shops listings, info on local pumpkin patches, Halloween events, community trick-or-treat times, photos and more.
        </p>
        <a href="#" class="secondary button">Join</a>
        <a href="#" class="text button" title="35 responses">35 Responses</a>
      </div>
    </div>
    <div class="article">
      <img src="/images/active-conversation-2.png" alt="Cleveland Tall Ships" />
      <div class="content">
        <p>
          <a href="#" title="Cleveland Tall Ships"><strong>Cleveland Tall Ships</strong></a>
          &ndash; - The Tall Ships Festival returns to the Cleveland lakefront July 8.  To celebrate and promote the event, the U.S. Brig Niagara sailed into the port of Cleveland Wednesday for a few hours. It fired its cannons twice in greeting.
        </p>
        <a href="#" class="secondary button">Join</a>
        <a href="#" class="text button" title="57 responses">57 Responses</a>
      </div>
    </div>
  </div></div>

  <div class="section activity">
    <h2>Recent Activity</h2>
    <div class="article">
      <p>
        <a href="#" title="Comment from John P. Gardner"><strong>John P. Gardner</strong></a>
        &ndash; I don&apos;t agree with that statement. Lorem ipsum set dolar amet.
      </p>
    </div>
    <div class="article">
      <p>
        <a href="#" title="Comment from Eliza Smarty"><strong>Eliza Smarty</strong></a>
        &ndash; Lorem ipsum set dolar amet.
      </p>
    </div>
    <div class="article">
      <p>
        <a href="#" title="Comment from Mr. Clean"><strong>Mr. Clean</strong></a>
        &ndash; Maecenas fermentum risus eget tellus pulvinar semper. Sed tincidunt lacus eget urna scelerisque quis scelerisque elit consectetur.
      </p>
    </div>
  </div>

  <div class="aside">
    <h2>Upcoming Events</h2>
    <div class="article">
      <ul>
        <li><a href="#" title="Immigration Roundtable June 7 3:00 PM">Immigration Roundtable</a></li>
        <li><strong>June 7 3:00 PM</strong></li>
        <li><strong>Cleveland City Club</strong></li>
      </ul>
    </div>
    <div class="article">
      <ul>
        <li><a href="#" title="Aiding the Oil Spill June 14 8:00 PM">Aiding the Oil Spill</a></li>
        <li><strong>June 14 8:00 PM</strong></li>
        <li><strong>Pelican Club</strong></li>
      </ul>
    </div>
    <div class="article">
      <ul>
        <li><a href="#" title="Bringing High-Tech to Cleveland June 21 4:00 PM">Bringing High-Tech to Cleveland</a></li>
        <li><strong>June 21 4:00 PM</strong></li>
        <li><strong>LeanDog Software</strong></li>
      </ul>
    </div>
  </div>

</div>
