.main.section
  .feature
    .join-conversation
      %img{:alt => "Drew Carey confronts Cleveland City Council", :src => "/images/featured-image.png"}/
      %a.button.primary{:href => "#"} Join Conversation
    %h1 Drew Carey confronts Cleveland City Council
    %p Cleveland's woes - population loss, failing schools, lack of economic spark - are no joke to comedian and native son Drew Carey, who advocates for less government, more competition and lower taxes to bring the city back.
    %ul
      %li
        %strong Covered By:
        %a{:href => "#"} Dan Moulthrop
      %li
        %strong Event:
        %em May 24, 2010
      %li
        %strong Conversations:
        %a{:href => "#"} 42 Responses
    .conversation-ticker
      %strong May 19:
      %a{:href => "#", :title => "Taxes in Cuyahoga County"}
        %strong Taxes in Cuyahoga County
  .aside.supplementary
    %strong Issues:
    %ul
      %li
        %a{:href => "#", :title => "Immigration"} Immigration
      %li
        %a{:href => "#", :title => "Opportunity Corridor"} Opportunity Corridor
      %li
        %a{:href => "#", :title => "Public Transportation"} Public Transportation
      %li
        %a{:href => "#", :title => "Shrinkage"} Shrinkage
      %li
        %a.text.button{:href => "#"} More Issues&hellip;
    %strong People:
    %ul
      %li
        %a{:href => "#", :title => "Connie Schultz"} Connie Schultz
      %li
        %a{:href => "#", :title => "Drew Carey"} Drew Carey
      %li
        %a{:href => "#", :title => "Jane Campbell"} Jane Campbell
      %li
        %a{:href => "#", :title => "Lebron James"} Lebron James
      %li
        %a.text.button{:href => "#"} More People&hellip;
#engaging-content.main.section
  .section.conversations
    .wrapper
      %h2 Active Conversations
      .article
        %img{:src => "/images/active-conversation-1.png"}/
        .content
          %p
            %a{:href => "#", :title => "Haunted Cleveland"}
              %strong Haunted Cleveland
            \&ndash; Cleveland haunted house and costume shops listings, info on local pumpkin patches, Halloween events, community trick-or-treat times, photos and more.
          %a.secondary.button{:href => "#"} Join
          %a.text.button{:href => "#", :title => "35 responses"} 35 Responses
      .article
        %img{:alt => "Cleveland Tall Ships", :src => "/images/active-conversation-2.png"}/
        .content
          %p
            %a{:href => "#", :title => "Cleveland Tall Ships"}
              %strong Cleveland Tall Ships
            \&ndash; - The Tall Ships Festival returns to the Cleveland lakefront July 8.  To celebrate and promote the event, the U.S. Brig Niagara sailed into the port of Cleveland Wednesday for a few hours. It fired its cannons twice in greeting.
          %a.secondary.button{:href => "#"} Join
          %a.text.button{:href => "#", :title => "57 responses"} 57 Responses
  .section.activity
    %h2 Recent Activity
    .article
      %p
        %a{:href => "#", :title => "Comment from John P. Gardner"}
          %strong John P. Gardner
        \&ndash; I don&apos;t agree with that statement. Lorem ipsum set dolar amet.
    .article
      %p
        %a{:href => "#", :title => "Comment from Eliza Smarty"}
          %strong Eliza Smarty
        \&ndash; Lorem ipsum set dolar amet.
    .article
      %p
        %a{:href => "#", :title => "Comment from Mr. Clean"}
          %strong Mr. Clean
        \&ndash; Maecenas fermentum risus eget tellus pulvinar semper. Sed tincidunt lacus eget urna scelerisque quis scelerisque elit consectetur.
  .aside
    %h2 Upcoming Events
    .article
      %ul
        %li
          %a{:href => "#", :title => "Immigration Roundtable June 7 3:00 PM"} Immigration Roundtable
        %li
          %strong June 7 3:00 PM
        %li
          %strong Cleveland City Club
    .article
      %ul
        %li
          %a{:href => "#", :title => "Aiding the Oil Spill June 14 8:00 PM"} Aiding the Oil Spill
        %li
          %strong June 14 8:00 PM
        %li
          %strong Pelican Club
    .article
      %ul
        %li
          %a{:href => "#", :title => "Bringing High-Tech to Cleveland June 21 4:00 PM"} Bringing High-Tech to Cleveland
        %li
          %strong June 21 4:00 PM
        %li
          %strong LeanDog Software
