<div class="main section">
  <div class="feature">
    <div class="join-conversation">
      <img src="/images/featured-image.png" alt="Drew Carey confronts Cleveland City Council">
      <a href="#" class="button primary">Join Conversation</a>
    </div>
    <h1>Drew Carey confronts Cleveland City Council</h1>
    <p>Cleveland's woes - population loss, failing schools, lack of economic spark - are no joke to comedian and native son Drew Carey, who advocates for less government, more competition and lower taxes to bring the city back.</p>
    <ul>
      <li><strong>Covered By:</strong><a href="#">Dan Moulthrop</a></li>
      <li><strong>Event:</strong><em>May 24, 2010</em></li>
      <li><strong>Conversations:</strong><a href="#">42 Responses</a></li>
    </ul>
  </div>
  <div class="aside">
    <p>aside</p>
    <p>aside</p>
    <p>aside</p>
    <p>aside</p>
  </div>
</div>

<div class="main section">

  <div class="section conversations"><div class="wrapper">
    conversations conversations
    conversations conversations
    conversations conversations
    conversations conversations
    conversations conversations
    conversations conversations
    conversations conversations
  </div></div>

  <div class="section activity">
    activity
  </div>

  <div class="aside">
    aside2
  </div>

</div>
