- @spotlights = []
- @allissues = Issue.all(:order => 'description')
- content_for :main do
  %h1 Create a New Conversation
  - form_for :conversation, :url => {:controller => "conversations", :action => "create" } do
    .form-group
      .form-block
        %label(for="title")
          Title:
        %input(class="textbox" name="conversation[title]")
      .form-block
        %label(for="summary")
          Summary:
        %textarea(name="conversation[summary]")
      .form-block
        %label(for="image")
          Image:
        %input(class="file" type="file" name="conversation[image]")
    .form-group
      .form-block
        %label(for="event")
          Event:
        %input(class="textbox" name="event[title]")
      .related
        .form-block
          %label(for="event-when")
            When:
          %input(class="textbox" name="event[when]" placeholder="8:04 PM, November 23, 1885")
        .form-block
          %label(for="event-where")
            Where:
          %input(class="textbox" name="event[where]")
    .supplementary
      %strong Issues:
      %ul
        %li
          %a(href="#" title="Finding Plutonium in the year 1885") Finding Plutonium in the year 1885 
          %a(href="#" title="Remove this Issue")
            %img(src="/images/trash-can.png")
        %li
          %a(href="#" title="Telescope Repair for Amateur Scientists") Telescope Repair for Amateur Scientists
          %a(href="#" title="Remove this Issue")
            %img(src="/images/trash-can.png")
        %li
          %a(href='javascript:void();' class='privileged' onclick='$("#addissue").show();')Add an Issue
          #addissue(style="display:none")
            %select(name="newissue" id="newissue")
              =render :partial => 'issues'
            %button(onclick='addIssue($("#newissue").value);$("#addissue").hide();') Add Issue
    .form-block
      %p
        %input(type="submit" class="submit" value="Create Conversation") or <a href="#" class="cancel">cancel</a>

-content_for :sidebar do
  .aside.guides
    %strong Guides
    %ul
      %li
        %a(href="#" title="George Nemeth") George Nemeth
        %a(href="#" title="Remove this Guide")
          %img(src="/images/trash-can.png")
      %li
        %a(href="#" title="Dan Moulthroup") Dan Moulthroup
        %a(href="#" title="Remove this Guide")
          %img(src="/images/trash-can.png")
    %a(href="#" title="Add Guide" class="privileged") Add Guide
  .aside.spotlight
    %strong Spotlight
    %ul
    -@spotlights.each do |s|
      %li
        %a(href="#{ link_for_spotlight(s)}" title="#{s.name}") s.name
        %a(href="#{ link_remove_spotlight(s)}" title="Remove this Spotlight")
          %img(src="/images/trash-can.png")
    %a(href="#" title="Add Spotlight" class="privileged") Add to Spotlight
