@import "utilities/clearfix";
@import "css3";

$blue-color: #1179b9;
$light-blue-color: #cbdbe4;
$dark-blue-color: #304958;
$active-blue-color: #1398ea;
$dark-grey-color: #444;
$grey-color: #666;
$light-grey-color: #c1c1c1;
$orange-color: #b06c00;

@mixin heading-font { font-family: "Century Gothic", Futura, Avenir, Tahoma, sans-serif; }
@mixin paragraph-font { font-family: "Helvetica Neue", Arial, sans-serif; }
@mixin emphasized-font { font-family: Palatino, Georgia, times, serif; }
@mixin strong-font { font-family: Helvetica, Arial, sans-serif; }

@mixin two-thirds {
  width: 64%;
  float: left;
  margin-right:2%;
}

@mixin gutter-margin {
  margin-right: 10px;
}

@mixin one-column {
  @include gutter-margin;
  width: 70px;
}

/* Animations */
@mixin easing { -webkit-transition: color,background-color 0.2s ease; }

/* base styles */

body {
  color: #444;
  font-size: 62.5%;
  background: url(/images/header-background.png) repeat-x #fff;
  text-align: center;
}

p {
  font-size: 1.4em;
  @include paragraph-font;
  color: $grey-color;
  font-weight: lighter;
  line-height: 1.4em;
  margin-bottom:1em;
}

strong {
  @include strong-font;
  font-weight: bold;
  color: $dark-grey-color;
}

em {
  @include emphasized-font;
  font-size:1.2em;
  font-style:italic;
  color: $dark-grey-color;
}

ul, ol {
  @include paragraph-font;
  color: $grey-color;
  line-height: 1.7em;
  margin-bottom:2em;
  margin-left:2em;
}

ul { list-style-type:disc; }
ol { list-style-type:decimal; }

ul.link-list, ol.link-list 
{ 
  list-style:none; 
  margin-left:0;
}

ul li, ol li {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom:0.5em;
}

$heading-margin: 25px;

h1 { font-size:2.8em; }
h2 { font-size:1.8em; }
h3 { font-size:1.5em; }
h4 { font-size:1.25em; }
h5 { font-size:1em; }

h1, h2, h4 { @include heading-font; }

h3, h5{
  font-weight: bold;
  margin-top: $heading-margin;
  margin-bottom: $heading-margin;
}

h1 {
  color: $dark-blue-color;
  @include text-shadow(rgba($dark-blue-color, .25));
  line-height: 1.2em;
  margin-bottom: 18px;
}

h2 {
  font-weight: bold;
  color: rgba($dark-blue-color, .68);
  @include text-shadow(rgba(white, 1));
}

/* forms */

@mixin text-input {
  color: $grey-color;
  @include strong-font;
  @include border-radius(3px);
  border-color: rgba(black, .07);
  @include box-shadow(rgba(black, .26), 1px, 1px, 1px);
  background: white;
  padding: 7px;
  font-size: 1.4em;
}

label
{
  @include paragraph-font;
  color: $grey-color;
  text-transform:uppercase;
  font-weight:bold;
  display:block;
  width:70px;
  text-align:right;
  float:left;
  padding-top:1.3em;
  padding-right:10px;
  font-size:1.1em;
}

form.register {
  label {
    width: 150px;
  }
  .footer {
    margin-left: 160px;
    font-size: 1.4em;
    .submit {
      margin-left: 0;
    }
  }
}

input.textbox, textarea {
  @include text-input;
  width:480px;
}

input.textbox.small {
  @include text-input;
  width: 230px;
}

input.submit
{
  background: url(/images/button-gradient.png) repeat-x 0 50%;
  background-color: $blue-color;
  text-align: center;
  color: rgba(255,255,255,0.9);
  text-transform: uppercase;
  border:0;
  padding:4px;
  font-weight:bold;
  @include border-radius(3px);
  font-family: Helvetica, Arial, sans-serif;
  @include box-shadow(rgba(black, .75), 1px, 1px, 1px);
  @include text-shadow(rgba(black, .41));
  @include easing;
  width:150px;
  margin-right:10px;
  margin-left:80px;
}

input.file
{
  padding:7px 0;
}

input.placeholder, textarea.placeholder
{
  color:#ccc;
}

a:link.cancel
{
  font-weight:normal;
  font-size:1em;
}

.form-block
{
  margin-bottom:8px;
}

.form-group
{
  margin-bottom:30px;
}

.form-group .related
{
  margin-left:80px;
}

.form-group .related input.textbox
{
  width:400px;
}

.validation-error {
  @include paragraph-font;
  color: #ae1111;
  font-size: 1.2em;
}

.field-with-error {
  input.textbox {
    background-color: #fff8f8;
  }
}

/* links */

a:link, a:visited {
  color: $blue-color;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  strong {
    color: $blue-color;
  }
}

/* buttons */

a.button:link, a.button:visited, .button {
  display: inline-block;
  padding: 4px 0;
  background: url(/images/button-gradient.png) repeat-x 0 50%;
  background-color: $blue-color;
  text-align: center;
  color: rgba(255,255,255,0.9);
  text-transform: uppercase;
  font-weight: light;
  @include border-radius(3px);
  font-family: Helvetica, Arial, sans-serif;
  @include box-shadow(rgba(black, .75), 1px, 1px, 1px);
  @include text-shadow(rgba(black, .41));
  @include easing;
  &.tertiary {
    @include one-column;
    padding-top: 4px;
    text-transform: inherit;
    height: 12px;
  }
}

a.button:hover, input.submit:hover {
  cursor:pointer;
  background-color: $active-blue-color;
  color: rgba(255,255,255,1);
  text-decoration: none;
}

form.delete-button {
  display: inline;
  margin-left: 8px;
}

.button.primary {
  width: 153px;
}

.button.secondary {
  width: 80px;
}

a.button.text:link, a.button.text:visited, .button.text {
  display: inline;
  background: inherit;
  font-size: .857142857em;
  @include paragraph-font;
  color: $grey-color;
  text-transform: none;
  font-weight: normal;
  -webkit-text-shadow: inherit;
  -moz-text-shadow: inherit;
  text-shadow: inherit;
  @include border-radius(inherit);
  @include box-shadow(black, 0, 0, 0);
  text-decoration: underline;
  &.conversation-action {
    color: $blue-color;
  }
}

a:link, a:hover, a:visited, a:active {
  @include paragraph-font;
}

a.privileged {
  color: $orange-color;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}

/* page structure
---------------------------------------------------------------------------- */

@mixin centered-box {
  margin: auto auto;
  width: 960px;
  text-align: left;
}


#logo.header {
  @include centered-box;
  height: 30px;
  padding-top: 3em;
  line-height: 1.6em;
  margin-bottom: 3em;

  a.title {
    @include heading-font;
    font-weight: lighter;
    color: white;
    font-size: 3.2em;
    @include text-shadow(rgba(0, 0, 0, .57))
  }
  span.subtitle {
    display: block;
    font-size: 1.2em;
    text-transform: uppercase;
    color: rgba(255,255,255,.41);
    text-indent: .4em;
  }
}


#body.section {
background: url(/images/body-gradient.png) repeat-x,
              url(/images/body-background.png) repeat;
width: 100%;
       padding-top: 27px;
       padding-bottom: 27px;
}


.header {
  @include group;
}

.nav {
}

.section.main {
  @include centered-box;
  .header {
    margin-bottom: 30px;
  }
  .feature {
    @include two-thirds;
    .join-conversation {
float: left;
    }
    ul.event-details {
      margin-top: 1.5em;
      margin-left: 160px;
      margin-bottom: 32px;
      li strong {
        width: 150px;
        margin-right: .6em;
        text-transform: uppercase;
      }
      a, em {
        font-size: 1.1666667em;
      }
    }
    img {
      @include box-shadow(rgba(0, 0, 0, .75), 1px, 1px, 2px);
      margin-right: 1em;
    }
    .button {
      margin-top: .8em;
    }
    .conversation-ticker {
      padding: 16px;
      width: 593px;
    }
    h1 {
      margin-left: 160px;
    }
    p {
      margin-top: .7em;
      margin-left: 160px;
    }
    a.primary.button {
      display: block;
      font-size: 1.2em;
    }
  }

  .section.activity, .section.conversations, .aside {
width: 33%;
float: left;
       .article {
         margin-top: 2em;
         img {
           @include box-shadow(rgba(black, .75));
float: left;
         }
         .content {
           padding-left: 80px;
         }
         p {
           font-size: 1.2em;
           line-height: 1.6em;
           margin-bottom: 20px;
           a {
             font-size: 1.166666667em;
           }
         }
         a.button:link {
           @include gutter-margin;
         }
         ul {
background: url(/images/event-icon.png) no-repeat;
            padding-left: 40px;
            li.event-meta {
              font-weight: bold;
              font-size: 1.2em;
              color: #666;
              text-transform: uppercase;
            }
         }
       }
  }
  .supplementary {
    strong {
      text-transform: uppercase;
      display: block;
      font-size: 1.2em;
      float:left;
      text-align:right;
      width:70px;
      padding-top:0.3em;
    }
    ul {
      padding-left:80px;
      margin-bottom:2em;
    }
    ul li
    {
      margin-bottom:0.2em;
    }
  }
  .section.activity {
float: left;
  }
  .main-content {
    @include two-thirds;
    textarea#comment_text {
      width: 598px;
      margin-bottom: 8px;
    }
    .header {
      margin-bottom: 15px;
    }
    hr {
      display: block;
      border: 0;
      border-top: solid 1px rgba(black, .19);
      margin-bottom: 20px;
    }
    ul.event-details {
      margin-bottom: 15px;
      margin-left:0;
      list-style-type:none;
    }
    ul.conversation-stream {
      margin-left:0;
      list-style-type:none;
      li {
        margin-bottom: 30px;
        font-size: 1em;
      }
    }
    .article.comment {
      p {
        padding-left: 115px;
        span.action {
          font-size: .9em;
        }
      }
      p.content {
        color: black;
        margin-bottom: 8px;
      }
      ol.replies {
        padding-left: 80px;
        margin-top: 30px;
        margin-left:0;
        list-style-type:none;
      }
      a.button.tertiary, a:link.button.tertiary, a:hover.button.tertiary {
        margin-left: 0;
        line-height: 1em;
      }
      a {
        &:visited, &:link {
          strong {
            text-transform: uppercase;
            font-size: 1em;
          }
        }
      }
      .meta {
        float: left;
        @include one-column;
        .comment-type {
          @include paragraph-font;
          font-size: 1.2em;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          background-color: $light-grey-color;
          color: white;
          @include border-radius(3px);
          &.unofficial {
            background: url(/images/comment-unofficial.png) no-repeat right;
            padding: 0;
            padding-left: 50px;
            width: 20px;
            height: 15px;
          }
          &.question {
            background: url(/images/comment-question.png) no-repeat right;
            padding: 0;
            padding-left: 58px;
            width: 12px;
            height: 16px;
          }
        }
        a.rating {
          display: block;
          color: $grey-color;
          font-size: 1.1em;
          text-align: right;
          padding-left: 0;
          &:hover {
            text-decoration: none;
          }
        }
      }
      img {
        float: left;
      }
    }
    .article.issue {
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px;
      .date {
        top: 0;
        position: absolute;
        float: left;
        @include one-column;
        text-align: center;
        height: 100%;
        background: #1379b9 url(/images/issue-date-gradient.png) top left repeat-x;
        font-size: 1em;
        text-transform: uppercase;
        @include text-shadow(black, 1px, 1px, 1px);
        span.day {
          display: block;
          font-size: 1.9em;
          letter-spacing: 1px;
        }
        p {
          padding-left: 0;
          margin-top: 15px;
          color: white;
        }
      }
      p {
        padding-left: 80px;
      }
    }
  }
  .supplementary {
    .aside {
      width: 100%;
      float: none;
      strong {
        text-transform: uppercase;
        float: none;
        text-align: left;
        border-bottom: #cdcdcd thin solid;
        width: 100%;
        padding-bottom: 3px;
        margin-bottom: 15px;
      }
      strong:after {
        content: ":";
      }
      ul {
         padding-left: 0;
         margin-bottom: 10px;
      }
    }
    .guides {
      margin-bottom: 30px;
    }
  }
}


ol.conversations {
  margin-left:0;
  list-style-type:none;
  li {
    margin-bottom: 30px;
    .article {
      img {
        float: left;
      }
      p {
        font-size: 1.2em;
        padding-left: 76px;
      }
      h4 {
        padding-left: 76px;
        font-size: 1.2em;
        margin-bottom: 5px;
      }
      .footer {
        margin-top: 15px;
      }
    }
  }
}

ul.event-details {
  li {
    font-size: 1.2em;
    strong {
      text-transform: uppercase;
      @include one-column;
      font-size: 1em;
      display: inline-block;
      text-align: right;
    }
    em {
      @include strong-font;
      font-style:normal;
      font-weight: bold;
    }
    a{
      font-size: 1em;
    }
    a.button {
      font-size: 1em;
    }
  }
}

.conversation-ticker {
  background-color: rgba(255,255,255,0.6);
  border: rgba(black, .15) solid 1px;
  border-left: 0;
  border-right: 0;
  font-size: 1.4em;
  strong {
    @include gutter-margin;
    text-transform: uppercase;
    font-size: .85em;
  }
  p {
    font-size: 1em;
  }
}

#engaging-content {
  margin-top: 28px;
}
.wrapper {
  padding-right: 10px;
}

.section {
  @include group;
}

#footer.footer {
  width: 100%;
  height: 132px;
  background-color: $light-blue-color;
  border-top: #a2c4d7 solid 1px;
  border-bottom: #a2c4d7 solid 1px;
  @include box-shadow(rgba(0, 0, 0, .09), 0px, 5px, 2px);
}


#legal.footer {
  font-size:0.9em;
  padding-top: 14px;
  text-align: center;
  background: url(/images/body-background.png) repeat-x;
  p {
    padding-bottom:1em;
  }
}

.footer {
}


/* misc.
---------------------------------------------------------------------------- */

hr, .hide {
  display: none;
}

a img {
  border: none;
}
