@import "utilities/clearfix";
@import "css3";

$blue-color: #1179b9;

body {
  font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
  color: #444;
  font-size: 62.5%;
  background: #fff;
}


/* links */

a:link, a:visited {
  color: $blue-color;
  outline: none;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


/* page structure
---------------------------------------------------------------------------- */

.header {
  @include group;
  background: url(/images/header-background.png) repeat-x;
  height: 90px;
  width: 100%;
}

.nav {
}

.section {
  @include group;
}

.footer {
}


/* headings
---------------------------------------------------------------------------- */

$heading-margin: 25px;

@mixin heading-defaults {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  margin-top: $heading-margin;
  margin-bottom: $heading-margin;
}

h1 {
  font-size: 2em;
  @include heading-defaults;
}

h2 {
  font-size: 1.75em;
  @include heading-defaults;
}

h3 {
  font-size: 1.5em;
  @include heading-defaults;
}

h4 {
  font-size: 1.25em;
  @include heading-defaults;
}

h5 {
  font-size: 1em;
  @include heading-defaults;
}


/* misc.
---------------------------------------------------------------------------- */

hr, .hide {
  display: none;
}

a img {
  border: none;
}
