@import "utilities/clearfix";
@import "css3";

$blue-color: #1179b9;
$light-blue-color: #cbdbe4;

body {
  font-family: "Century Gothic", Futura, Avenir, Tahoma, sans-serif;
  color: #444;
  font-size: 62.5%;
  background: url(/images/header-background.png) repeat-x #fff;
}


p {
  font-size: 1.2em;
}
/* links */

a:link, a:visited {
  color: $blue-color;
  outline: none;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


/* page structure
---------------------------------------------------------------------------- */

@mixin centered-box {
  margin: auto auto;
  width: 960px;
}


#logo.header {
  @include centered-box;
  height: 90px;
  padding-top: 3em;
  line-height: 1.6em;

  a.title {
    color: white;
    font-size: 3.2em;
    @include text-shadow(rgba(0, 0, 0, .57))
  }
  span.subtitle {
    display: block;
    font-size: 1.2em;
    text-transform: uppercase;
    color: rgba(255,255,255,.41);
    text-indent: .4em;
  }
}


#body.section {
  background: url(/images/body-gradient.png) repeat-x,
              url(/images/body-background.png) repeat;
  width: 100%;

  &>.section {
    @include centered-box;
    margin-top: 27px;
    margin-bottom: 27px;
  }
}


.header {
  @include group;
}

.nav {
}

.section {
  @include group;
}

#footer.footer {
  width: 100%;
  height: 132px;
  background-color: $light-blue-color;
  border-top: #a2c4d7 solid 1px;
  border-bottom: #a2c4d7 solid 1px;
  @include box-shadow(rgba(0, 0, 0, .09), 0px, 5px, 2px);
}


#subfooter.footer {
  margin-top: 14px;
  text-align: center;
  p {
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
}

.footer {
}


/* headings
---------------------------------------------------------------------------- */

$heading-margin: 25px;

@mixin heading-defaults {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  margin-top: $heading-margin;
  margin-bottom: $heading-margin;
}

h1 {
  font-size: 2em;
  @include heading-defaults;
}

h2 {
  font-size: 1.75em;
  @include heading-defaults;
}

h3 {
  font-size: 1.5em;
  @include heading-defaults;
}

h4 {
  font-size: 1.25em;
  @include heading-defaults;
}

h5 {
  font-size: 1em;
  @include heading-defaults;
}


/* misc.
---------------------------------------------------------------------------- */

hr, .hide {
  display: none;
}

a img {
  border: none;
}
