<!DOCTYPE html>
<html>
<head>
  <title>Civiccommons</title>

  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'rails' %>

  <!--[if gte IE 7]><!-->
  <link media="screen, projection" rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
  <!--<![endif]-->

  <%= csrf_meta_tag %>

</head>
<body>

<%= yield %>

</body>
</html>
